* {
  box-sizing: border-box;
}

body {
  background-color: #25294a;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

header {
  width: 100%;
  margin: 40px auto 40px auto;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-board {
  margin: auto;
  width: 70%;
}

.card {
  width: 151px;
  height: 146px;
  margin-bottom: 34px;
  position: relative;
}

.face {
  width: 117px;
  height: 146px;
  background: rgb(24, 40, 72);
  background: linear-gradient(
    185deg,
    rgba(24, 40, 72, 1) 0%,
    rgba(75, 108, 183, 1) 92%
  );
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 6px 6px 10px rgb(1, 0, 2);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.face img {
  width: 70%;
}

.back {
  width: 117px;
  height: 146px;
  background-color: rgb(45, 67, 117);
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgb(24, 1, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.selectFront {
  transform: rotateY(-180deg);
}

.selectBack {
  transform: rotateY(0deg);
}

.equalFront {
  transform: rotateY(-180deg);
}

.equalBack {
  transform: rotateY(0deg);
}
